header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
}

.div-telas{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.div-telas a{
    color: #D7E7F5;
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    text-decoration: none;
}

.criacao{
    display: flex;
    justify-content: end;
    width: 50vw;
}

.section{
    max-width: 800px;
    margin: 30px auto;
    border: none;
    box-shadow: 0 4px 8px #274472;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}

h2{
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
}

.create-link{
    color: #D7E7F5;
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #5885AF;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    align-self: flex-end;
    cursor: pointer;
}

.section-form {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    border: none;
    box-shadow: 0 4px 8px #274472;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    align-items: center;
}

.input-div{
    display: flex;
    flex-direction: column;
}

.input-div input{
    width: 25vw;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    border: 0.5px solid black;
}

.input-div label{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

select{
    width: 25vw;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    border: 0.5px solid black;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.button{
    width: 7vw;
    padding: 7px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    background-color: #5885AF;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
}

.delete-button {
    background-color: #a52121;
}